html, body {
    overflow-x: hidden; 
    max-width: 100vw; 
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
    background-color: #f0f8ff; 
    color: #003366; 
    line-height: 1.6;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 51, 102, 0.8); 
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; 
    transform: translateY(-100%); 
}

.header.active {
    transform: translateY(0); 
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.links{
    margin-left: 14%;
}

.name_sidebar{
    color:#ffffff;
    margin-top: 20px;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase; 
    text-align: center;
}

.name_sidebar::after {
    content: "";
    display: block;
    width: 435px;
    height: 4px; 
    background: #00c7ff; 
    margin-top: 8px;
    border-radius: 2px;
}

.name {
    color: #00c7ff;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0;
}

.nav-links a {
    display: block;
    padding: 15px 25px;
    background: rgba(0, 95, 153, 0.9);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border-right: 2px solid rgba(0, 51, 102, 0.9);
    transition: background 0.3s ease, transform 0.2s ease;
    text-decoration: none;
}

.nav-links a:last-child {
    border-right: none;
}

.nav-links a:hover {
    background: #00c7ff;
    color: #003366;
    transform: scale(1.05);
}

.side-nav {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: rgba(0, 51, 102, 0.8);
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease; 
}

.side-nav.active {
    right: 0;
}

.side-nav {
    position: fixed;
    top: 0;
    right: -250px; 
    width: 250px;
    height: 100%;
    background-color: rgba(0, 51, 102, 0.9); 
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
    transition: right 0.3s ease; 
    display: flex;
    flex-direction: column; 
}

.side-nav .nav-links {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%; 
}

.side-nav .nav-links li {
    margin: 15px 0; 
}

.side-nav .nav-links a {
    display: block;
    padding: 15px 20px;
    text-align: center;
    background-color: #003366; 
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 8px;
    transition: all 0.3s ease;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.side-nav .nav-links a:hover {
    background-color: #00c7ff; 
    color: #003366; 
    transform: translateY(-4px); 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); 
}

.side-nav .nav-links a.active {
    background-color: #00c7ff; 
    color: #003366;
    transform: scale(1.05); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.side-nav .social-links {
    margin-top: auto; 
    display: flex;
    justify-content: center; 
    gap: 15px; 
    padding: 20px 0; 
}

.side-nav .social-icon {
    display: block;
    width: 40px; 
    height: 40px; 
    background-color: #003366; 
    color: white;
    font-size: 20px; 
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
}


.side-nav .social-icon:hover {
    background-color: #00c7ff; 
    transform: scale(1.1); 
}

.home-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 20px;
    height: 100vh;
    background-image: url('sources/dynamic-hex-backgrounds-networking.jpg'); /* Cambia a la ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    color: #fff; 
}

.home-container {
    display: flex;
    align-items: center;
    gap: 50px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 40px;
}

.profile-image img {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    object-fit: cover;
    border: 4px solid #00c7ff; 
}

.profile-info {
    text-align: left;
    color: #ffffff;
}

.name {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    position: relative;
    color: #ffffff;
}

.name::after {
    content: "";
    display: block;
    width: 435px; 
    height: 4px;
    background: #00c7ff; 
    margin-top: 8px;
    border-radius: 2px;
}


.role {
    font-size: 1.8rem;
    color: #ffffff; 
    margin-bottom: 25px;
    margin-left: 65px;
}


.links {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}


.linkedin {
    background-color: #0072b1; 
    margin-left: 25px;
}

.github {
    background-color: #333; 
    margin-left: 25px;
}

.button:hover {
    opacity: 0.8;
    transform: translateY(-2px);
}


.about-section {
    padding: 80px 20px;
    background-color: #f0f8ff; 
    color: #003366; 
}

.about-container {
    max-width: 1400px;
    margin: 0 auto;
}

.about-title {
    text-align: left;
    margin-bottom: 40px;
    position: relative;
}

.about-title h2 {
    font-size: 3rem;
    font-weight: bold;
    color: #003366;
    margin: 0;
}

.about-title h2::after {
    content: "";
    display: block;
    width: 100px; 
    height: 4px; 
    background: #00c7ff; 
    margin-top: 10px;
    border-radius: 2px;
}

.about-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
}

.about-info {
    flex: 1;
    padding-right: 60px; 
    position: relative;
}

.about-info::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0; 
    width: 4px;
    height: 100%;
    background: #00c7ff;
    border-radius: 2px;
}

.about-info p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 20px;
    color: #333; 
}

.about-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image img {
    width: 400px;
    height: 583px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.works-section {
    padding: 50px 20px;
    background-image: url("sources/920.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.works-title {
    text-align: center;
    margin-bottom: 40px;
    margin-left: 100px; 
    margin-right: auto;
}

.works-title h2 {
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
}

.works-title h2::after {
    content: "";
    display: block;
    width: 100px; 
    height: 4px; 
    background: #00c7ff; 
    margin-top: 10px;
    border-radius: 2px;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 30px;
    max-width: 1400px; 
    width: 100%; 
    margin-left: 100px; 
    margin-right: auto; 
}

.project-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 550px; 
}

.project-card h3 {
    color: #003366;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.project-description,
.technologies {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.carousel {
    position: relative;
    margin-top: 20px;
    overflow: hidden;
    border-radius: 8px;
}

.carousel-item {
    display: none;
}

.carousel-item.active {
    display: block;
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.media-image,
.work-video {
    width: 100%;
    border-radius: 8px;
}

.github-button {
    display: inline-block;
    background-color: #24292e;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 12px; 
    font-weight: bold;
    margin-top: 10px;
    margin-left: auto; 
    align-self: flex-end;
    transition: background-color 0.3s ease;
}

.github-button:hover {
    background-color: #0366d6;
}

.contact-section {
    padding: 50px 20px;
    background-image: url("sources/920.jpg"); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #003366; 
}

.contact-container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    background-color: #f0f8ff;
    border-radius: 15px;
    padding: 40px;
    max-width: 600px;
    width: 100%;
    margin: 0 auto; 
    margin-left: 25%; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
}

.contact-title {
    text-align: center;
    margin-bottom: 40px;
}

.contact-title h2 {
    font-size: 3rem;
    font-weight: bold;
    color: #003366;
    margin: 0;
}

.contact-title h2::after {
    content: "";
    display: block;
    width: 430px; 
    height: 4px; 
    background: #00c7ff; 
    margin-top: 10px;
    border-radius: 2px;
}

.email-box {
    align-items: center;
    border: 2px solid #003366;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 15px;
    width: 364.5px;
    background-color: #ffffff;
    margin-left: 10%;
}

.email-box input {
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    width: 270px;
    color: #003366;
    background-color: transparent;
    cursor: text;
}

.email-box input:focus {
    outline: none;
}

.copy-btn {
    padding: 10px 15px;
    background-color: #003366;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.copy-btn:hover {
    background-color: #00c7ff;
    color: #003366;
}

.menu-icon {
    display: none; 
    font-size: 2rem;
    cursor: pointer;
    color: #fff; 
    margin-right: 20px;
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .nav-links {
        display: none; 
    }

    .side-nav {
        position: fixed;
        top: 0;
        right: -250px; 
        width: 250px;
        height: 100%;
        background-color: rgba(0, 51, 102, 0.9);
        z-index: 1000;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        transition: right 0.3s ease; 
        display: flex;
        flex-direction: column;
    }

    .side-nav.active {
        right: 0;
    }

    .side-nav .name-container {
        text-align: center;
        margin-top: 30px; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
    }

    .side-nav .name {
        font-size: 1.5rem;
        color: white;
        font-weight: bold;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    .side-nav .nav-links {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .side-nav .nav-links li {
        margin: 15px 0; 
    }

    .side-nav .nav-links a {
        padding: 15px 20px;
        text-align: center;
        background-color: #003366;
        color: white;
        font-weight: bold;
        font-size: 18px;
        text-transform: uppercase;
        border-radius: 8px;
        transition: all 0.3s ease;
        text-decoration: none;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .side-nav .nav-links a:hover {
        background-color: #00c7ff;
        color: #003366;
        transform: translateY(-4px);
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    }

    .side-nav .nav-links a.active {
        background-color: #00c7ff;
        color: #003366;
        transform: scale(1.05);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }

    .menu-icon {
        display: block;
    }

    .navbar .name {
        flex: 1;
        text-align: center;
        font-size: 2rem;
        position: relative;
    }

    .navbar .name::after {
        content: '';
        display: block;
        width: 40%;
        height: 2px;
        background-color: #87CEEB; 
        margin: 0 auto;
        position: absolute;
        bottom: -8px;
        left: 0;
        right: 0;
    }
    
    .home-container {
        flex-direction: column;
    }

    .profile-image img {
        border-radius: 70%;
        width: 275px;
        height: 275px;
        object-fit: cover;
        border: 4px solid #00c7ff; 
    }

    .profile-info {
        margin-top: 20px;
        text-align: center;
    }

    .name {
        font-size: 2.5rem;
        align-items: center;
        
    }
    .name::after {
        content: '';
        display: block;
        width: 60%;
        height: 2px;
        background-color: #87CEEB; 
        margin: 0 auto;
        position: absolute;
        bottom: -8px;
        left: 0;
        right: 0;
    }
    

    .role {
        font-size: 1.2rem;
        align-items: center;
        margin-left: 0%;
        margin-top: 15px;
        font-weight: bold;
        color: white; 
        text-shadow: 
            1px 1px 0 #000000,   
            -1px -1px 0 #070707,
            1px -1px 0 #24292e, 
            -1px 1px 0 #24292e; 
    }
    
    
    .about-content {
        flex-direction: column;
        align-items: flex-start; 
    }
    
    .about-info {
        text-align: left; 
        padding-right: 20px;
        border-right: none;
    }
    
    .about-info::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0; 
        width: 4px;
        height: 100%;
        background: #00c7ff;
        border-radius: 2px;
    }

    .about-image img {
        width: auto; 
        max-width: 100%; 
    }

    .about-title {
        text-align: center;
        margin-bottom: 20px; 
    }

    .about-title h2 {
        font-size: 2rem; 
    }

    .about-title h2::after {
        width: 60px;
    }

    .works-title {
        text-align: center; 
        margin-bottom: 20px;
        margin-left: 0;
        margin-right: 0; 
    }

    .works-title h2 {
        font-size: 2rem; 
    }

    .works-title h2::after {
        width: 60px; 
    }

    .projects-container {
        grid-template-columns: 1fr;
        margin-left: 20px;
        margin-right: 20px; 
        max-width: calc(100% - 40px);
    }

.contact-section {
    padding: 50px 0; 
    background-image: url("sources/920.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #003366;
   
}

.contact-container {
    background-color: #f0f8ff;
    margin-left: 0;
    border-radius: 15px;
    width: 90%;
    padding: 20px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.contact-title h2 {
    font-size: 1.8rem; 
    font-weight: bold;
    color: #003366;
    margin-bottom: 10px;
}

.contact-title h2::after {
    content: "";
    display: block;
    width: 80px; 
    height: 3px;
    background: #00c7ff;
    margin: 5px auto 15px; 
    border-radius: 2px;
}

.email-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #003366;
    border-radius: 5px;
    background-color: #ffffff;
    margin-left: 1%;
    padding: 5px;
    width: 100%;
}

.email-box input {
    border: none;
    outline: none;
    width: 75%;
    padding: 8px;
    font-size: 14px;
    color: #003366;
    background-color: transparent;
}

.copy-btn {
    padding: 8px;
    background-color: #003366;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 80px;
}

.copy-btn:hover {
    background-color: #00c7ff;
    color: #003366;
}

    .links{
        margin-left: 0%;
    }
}